$icomoon-font-family: "theme-icons";
$icomoon-font-path: "../fonts";

$icon-checked: "\e919";
$icon-soup: "\e909";
$icon-food-and-restaurant: "\e90a";
$icon-noodles: "\e90b";
$icon-clipboard: "\e90c";
$icon-restaurant-menu: "\e90d";
$icon-broccoli: "\e90e";
$icon-cupcake: "\e90f";
$icon-french-fries: "\e910";
$icon-salad: "\e911";
$icon-team: "\e912";
$icon-website: "\e913";
$icon-education: "\e914";
$icon-medical: "\e915";
$icon-network: "\e916";
$icon-security: "\e917";
$icon-chat: "\e918";
$icon-google-plus-g-brands: "\e900";
$icon-share-alt-solid: "\e901";
$icon-facebook: "\e902";
$icon-instagram: "\e903";
$icon-youtube: "\e904";
$icon-linkedin-in: "\e905";
$icon-twitter: "\e906";
$icon-pinterest-p: "\e907";
$icon-flickr: "\e908";
