.section-forms {
  h1 {
    margin-bottom: 30px;
  }

  input[type='text']::placeholder {
    font-size: 16px;
  }

  .form-group-search .btn {
    padding: 0 14px;
  }

  select {
    appearance: none;
  }

  .select-group {
    position: relative;

    &::after {
      position: absolute;
      right: 18px;
      top: 50%;
      transform: translateY(-50%);
      background-image: url('data:image/svg+xml,%3Csvg role="img" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 448 512"%3E%3Cpath fill="currentColor" d="M443.5 162.6l-7.1-7.1c-4.7-4.7-12.3-4.7-17 0L224 351 28.5 155.5c-4.7-4.7-12.3-4.7-17 0l-7.1 7.1c-4.7 4.7-4.7 12.3 0 17l211 211.1c4.7 4.7 12.3 4.7 17 0l211-211.1c4.8-4.7 4.8-12.3.1-17z"%3E%3C/path%3E%3C/svg%3E');
      display: block;
      content: '';
      width: 15px;
      height: 15px;
      background-repeat: no-repeat;
      background-position: center;
    }
  }

  .btn-outline-primary:not(:disabled):not(.disabled).active,
  .btn-outline-primary:not(:disabled):not(.disabled):active,
  .show>.btn-outline-primary.dropdown-toggle {
    font-size: 12px;
    border-color: #e0e0e2;
    background-color: #fff;
    color: #323130;

    &:hover,
    &.active {
      background-color: #2f68a1;
      color: #fff;
      border-color: #2f68a1;
    }

    &:focus,
    &:active {
      box-shadow: none;
    }
  }

  .text-14 {
    color: #000;
    border-bottom: 1px solid #e9e9e9;
  }

  li,
  li a {
    font-size: 14px;
  }

  .pagination {
    .page-item {
      margin-left: 0;

      &:not(:last-of-type) {
        margin-right: 10px;
      }

      &:not(.next) a {
        width: 40px;
      }

      &:not(.active) a {
        background-color: transparent;
        color: #2f68a1;
      }

      &.active a {
        background-color: #2f68a1;
        color: #fff;
      }

      &.next a {
        position: relative;
        padding-right: 30px;

        &::after {
          background-image: url('data:image/svg+xml,%3Csvg fill="%232f68a1" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 320 512"%3E%3Cpath fill="%232f68a1" d="M285.476 272.971L91.132 467.314c-9.373 9.373-24.569 9.373-33.941 0l-22.667-22.667c-9.357-9.357-9.375-24.522-.04-33.901L188.505 256 34.484 101.255c-9.335-9.379-9.317-24.544.04-33.901l22.667-22.667c9.373-9.373 24.569-9.373 33.941 0L285.475 239.03c9.373 9.372 9.373 24.568.001 33.941z"%3E%3C/path%3E%3C/svg%3E');
          position: absolute;
          right: 13px;
          left: auto;
          top: 50%;
          transform: translateY(-50%);
          content: '';
          background-repeat: no-repeat;
          background-position: center;
          width: 9px;
          height: 9px;
          display: block;
        }

        &:hover::after {
          background-image: url('data:image/svg+xml,%3Csvg fill="%23ffffff" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 320 512"%3E%3Cpath fill="%23ffffff" d="M285.476 272.971L91.132 467.314c-9.373 9.373-24.569 9.373-33.941 0l-22.667-22.667c-9.357-9.357-9.375-24.522-.04-33.901L188.505 256 34.484 101.255c-9.335-9.379-9.317-24.544.04-33.901l22.667-22.667c9.373-9.373 24.569-9.373 33.941 0L285.475 239.03c9.373 9.372 9.373 24.568.001 33.941z"%3E%3C/path%3E%3C/svg%3E');
        }
      }

      a {
        font-size: 12px;
        border: 1px solid #2f68a1;
        height: 40px;
        transition: .35s ease-in-out;
        display: flex;
        justify-content: center;
        align-items: center;

        &::before {
          display: none;
        }

        &:hover {
          box-shadow: none;
          background-color: #2f68a1;
          color: #fff;
        }
      }
    }
  }

  .card-wrapper .card-primary {
    max-width: 380px;
  }

  .card-primary {
    background-color: #2f68a1 !important;

    .btn-link-with-bullet {
      background-color: #4376aa;

      &::after {
        border-color: #fff;
      }

      &:hover {
        background-color: #fff;
        color: #4376aa;

        &::after {
          border-color: #4376aa;
        }
      }
    }

    .card-body ul li {
      margin-bottom: 4px;
    }
  }

  .accordion {

    .card {
      border-radius: 5px;
      box-shadow: 0 0 11px 4px rgba(#000, .05);
    }

    .card .card-header,
    .card-header {
      padding: 0;
      border: 0;

      &::after,
      &::before {
        display: none;
      }

      a {
        width: 100%;
        color: #141624;
        padding: 23px 65px 23px 30px;

        &::before {
          background-image: url('data:image/svg+xml,%3Csvg role="img" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 448 512"%3E%3Cpath fill="currentColor" d="M443.5 162.6l-7.1-7.1c-4.7-4.7-12.3-4.7-17 0L224 351 28.5 155.5c-4.7-4.7-12.3-4.7-17 0l-7.1 7.1c-4.7 4.7-4.7 12.3 0 17l211 211.1c4.7 4.7 12.3 4.7 17 0l211-211.1c4.8-4.7 4.8-12.3.1-17z"%3E%3C/path%3E%3C/svg%3E');
          right: 18px;
          top: 50%;
          width: 20px;
          height: 20px;
          transform: translateY(-50%);
          background-repeat: no-repeat;
          background-position: center;
          background-color: transparent;
          left: auto;
          border: 0;
          pointer-events: none;
          transition: .35s;
        }

        &[aria-expanded='true']::before {
          transform: translateY(-50%) rotate(180deg);
        }
      }
    }

    .card-body {
      background-color: #fff;
      padding: 5px 20px 20px 30px;
    }
  }

  .quick-links a {
    padding-left: 23px;
    padding-right: 34px;

    &::after {
      display: none;
    }

    &::before {
      background-image: url('data:image/svg+xml,%3Csvg fill="%23ffffff" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 512 512"%3E%3Cpath fill="%23ffffff" d="M432,320H400a16,16,0,0,0-16,16V448H64V128H208a16,16,0,0,0,16-16V80a16,16,0,0,0-16-16H48A48,48,0,0,0,0,112V464a48,48,0,0,0,48,48H400a48,48,0,0,0,48-48V336A16,16,0,0,0,432,320ZM488,0h-128c-21.37,0-32.05,25.91-17,41l35.73,35.73L135,320.37a24,24,0,0,0,0,34L157.67,377a24,24,0,0,0,34,0L435.28,133.32,471,169c15,15,41,4.5,41-17V24A24,24,0,0,0,488,0Z"%3E%3C/path%3E%3C/svg%3E');
      content: '';
      left: auto;
      right: 15px;
      width: 18px;
      height: 18px;
    }

    &:hover::before {
      background-image: url('data:image/svg+xml,%3Csvg fill="%234376aa" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 512 512"%3E%3Cpath fill="%234376aa" d="M432,320H400a16,16,0,0,0-16,16V448H64V128H208a16,16,0,0,0,16-16V80a16,16,0,0,0-16-16H48A48,48,0,0,0,0,112V464a48,48,0,0,0,48,48H400a48,48,0,0,0,48-48V336A16,16,0,0,0,432,320ZM488,0h-128c-21.37,0-32.05,25.91-17,41l35.73,35.73L135,320.37a24,24,0,0,0,0,34L157.67,377a24,24,0,0,0,34,0L435.28,133.32,471,169c15,15,41,4.5,41-17V24A24,24,0,0,0,488,0Z"%3E%3C/path%3E%3C/svg%3E');
    }
  }

  .btn-link {
    border-bottom: 0;

    &::before {
      background-image: url('data:image/svg+xml,%3Csvg role="img" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 448 512"%3E%3Cpath fill="%233678ba" d="M443.5 162.6l-7.1-7.1c-4.7-4.7-12.3-4.7-17 0L224 351 28.5 155.5c-4.7-4.7-12.3-4.7-17 0l-7.1 7.1c-4.7 4.7-4.7 12.3 0 17l211 211.1c4.7 4.7 12.3 4.7 17 0l211-211.1c4.8-4.7 4.8-12.3.1-17z"%3E%3C/path%3E%3C/svg%3E');
      content: '';
      left: auto;
      right: -18px;
      width: 12px;
      height: 12px;
      top: 50%;
      transform: translateY(-50%) rotate(-90deg);
      background-color: transparent;
      background-position: center;
      background-repeat: no-repeat;
    }

    &:hover {
      &::before {
        width: 12px;
        height: 12px;
      }
    }

    &:focus {
      box-shadow: none !important;
    }
  }

  @media (max-width: 991px) {
    .card-wrapper {
      margin-top: 30px;
    }
  }
}

.imo-forms {
  ul:not(.pagination) li {
    padding-left: 30px;

    a {
      position: relative;
      transition: .35s ease;
      color: #3573bf;

      &::before,
      &::after {
        position: absolute;
        content: '';
        display: block;
      }

      &::before {
        left: -30px;
        top: 0;
        background-repeat: no-repeat;
        background-position: center;
        width: 16px;
        height: 16px;
      }

      &:hover {
        color: #3678ba;
        box-shadow: inset 0 -1px #3678ba;
      }
    }
  }

  &:not(.meeting) a::before {
    background-image: url('data:image/svg+xml,%3Csvg fill="%233879ba" role="img" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 576 512"%3E%3Cpath fill="%233879ba" d="M402.6 83.2l90.2 90.2c3.8 3.8 3.8 10 0 13.8L274.4 405.6l-92.8 10.3c-12.4 1.4-22.9-9.1-21.5-21.5l10.3-92.8L388.8 83.2c3.8-3.8 10-3.8 13.8 0zm162-22.9l-48.8-48.8c-15.2-15.2-39.9-15.2-55.2 0l-35.4 35.4c-3.8 3.8-3.8 10 0 13.8l90.2 90.2c3.8 3.8 10 3.8 13.8 0l35.4-35.4c15.2-15.3 15.2-40 0-55.2zM384 346.2V448H64V128h229.8c3.2 0 6.2-1.3 8.5-3.5l40-40c7.6-7.6 2.2-20.5-8.5-20.5H48C21.5 64 0 85.5 0 112v352c0 26.5 21.5 48 48 48h352c26.5 0 48-21.5 48-48V306.2c0-10.7-12.9-16-20.5-8.5l-40 40c-2.2 2.3-3.5 5.3-3.5 8.5z"%3E%3C/path%3E%3C/svg%3E');
  }

  &.meeting a::before {
    background-image: url('data:image/svg+xml,%3Csvg fill="%233577b9" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 384 512"%3E%3Cpath fill="%233577b9" d="M336 64h-80c0-35.3-28.7-64-64-64s-64 28.7-64 64H48C21.5 64 0 85.5 0 112v352c0 26.5 21.5 48 48 48h288c26.5 0 48-21.5 48-48V112c0-26.5-21.5-48-48-48zM192 40c13.3 0 24 10.7 24 24s-10.7 24-24 24-24-10.7-24-24 10.7-24 24-24zm121.2 231.8l-143 141.8c-4.7 4.7-12.3 4.6-17-.1l-82.6-83.3c-4.7-4.7-4.6-12.3.1-17L99.1 285c4.7-4.7 12.3-4.6 17 .1l46 46.4 106-105.2c4.7-4.7 12.3-4.6 17 .1l28.2 28.4c4.7 4.8 4.6 12.3-.1 17z"%3E%3C/path%3E%3C/svg%3E');
  }
}
